<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}SimpleTicketing Dashboard{% endblock %}</title>
   <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    <!-- Kopfbereich -->
    <header>
        <h1 class="header-title">SimpleTicketing Dashboard</h1>
    </header>

    <!-- Navigationsleiste -->
    <nav>
        <ul>
            <li><a href="{{ url_for('frontend.index') }}">Home</a></li>
            <li><a href="{{ url_for('frontend.create_ticket_page') }}">Create tickets</a></li>
            <li><a href="{{ url_for('frontend.list_tickets_page') }}">View tickets</a></li>
            <li><a href="{{ url_for('frontend.list_hidden_tickets_page') }}">View removed tickets</a></li>
            <li><a href="{{ url_for('frontend.check_in_page') }}">Check-in</a></li>
        </ul>
    </nav>

    <!-- Hauptinhalt -->
    <main>
        {% block content %}{% endblock %}
    </main>

    <!-- Fußbereich -->
    <footer>
        <p>© 2025 SimpleTicketing</p>
        <p>v{{ config.APP_VERSION }}</p>
    </footer>
</body>
</html>

